
.product-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly; 
    margin-top: 200px;
    gap: 10px;
  }
  
  .product {
    flex: 0 1 calc(25% - 20px); 
    border: 1px solid #ddd;
    padding: 10px;
    margin: 10px;
    text-align: center;
    position: relative;
    display: inline-block;
  }

  .hover-image {
    position: absolute;
    top: 0;
    left: 2;
    opacity: 0;
    margin: 0 auto;
    transition: opacity 0.5s ease;
  }

  .product:hover .hover-image {
    opacity: 1;
}
  
  .product img {
    display: block;
    margin: 0 auto;
  }
  
  .product-details {
    margin-top: 10px;
    color: black;
    display: flex;

  }

.product-video {
    display: flex;
    justify-content: center;
    margin-top: 75px;
}

.product-video video {
 width: 1500px;
 height: 1000px;
}

.drop-down-menus {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
  
  
  